{% extends "index.html" %}

{% block content %}
<br>
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Most required help</h1>
    </div>

    <div class="row">

      {% for i, row in categories_top_df.iterrows() %}
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-{{category_colors[row['category']]}} shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{row['category'].replace('_', ' ').title()}}</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">{{row['total']}}</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-{{category_icons[row['category']]}} fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="row">
      <div class="col-xl-12 col-md-12 mb-4">
        <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Categories Overview</h6>

                </div>
                <!-- Card Body -->
                <div class="card-body">
<canvas id="categories_chart" class="chartjs" width="undefined" height="undefined">
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
<script>
new Chart(document.getElementById("categories_chart"),
  {
    "type":"bar",
    "data":{
        "labels":{{categories|tojson}},
        "datasets":
          [
            {
              "label":"Categories",
              "data":{{categories_totals}},
              "fill":false,
              "backgroundColor": {{background_colors | tojson}},
              "borderColor":{{border_colors | tojson}},
              "borderWidth":1
            }
          ]
        },
      "options":{"scales":{"yAxes":[{"ticks":{"beginAtZero":true}}]}}});
</script>
                </div>
              </div>
      </div>
    </div>
  </div>
{% endblock %}
